<!doctype html>
<html class="no-js" lang="{{ lang }}">
<head>
  <meta charset="utf-8">
  <title>{{ pageTitle | default('') }}</title>
  {% if pageDescription %}<meta name="description" content="{{ pageDescription }}">{% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="{{ basename }}">
  <script nonce="{{ nonce }}">
    window.__webpack_nonce__ = '{{ nonce }}';
    document.documentElement.classList.remove('no-js');
  </script>
  {{ styleTags | safe }}
</head>
<body>
  <div id="app">{{ bodyContent | safe }}</div>
  <script nonce="{{ nonce }}">
    window.__initial_state__ = {{ state | dump | safe }};
    window.__lang__ = '{{ lang }}';
    window.__phrases__ = {{ phrases | dump | safe }};
  </script>
  <script nonce="{{ nonce }}" src="{{ entryScript | fromManifest }}" ></script>
</body>
</html>
