<!doctype html>
<html class="no-js" lang="{{ lang | default('en-GB') }}">
<head>
  <meta charset="utf-8">
  <title>{{ pageTitle | default('') }}</title>
  {% if pageDescription %}<meta name="description" content="{{ pageDescription }}">{% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script nonce="{{ nonce }}">
    window.__webpack_nonce__ = '{{ nonce }}';
    document.documentElement.classList.remove('no-js');
  </script>
  {{ styleTags | safe }}
</head>
<body>
  <div id="app">{{ bodyContent | safe }}</div>
  <script nonce="{{ nonce }}" src="{{ entryScript | fromManifest }}" />
</body>
</html>
